RewriteEngine on 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME}\.php -f 
RewriteRule ^(.*)$ $1.php


ErrorDocument 400 /400

ErrorDocument 401 /401

ErrorDocument 403 /403

ErrorDocument 404 /404

ErrorDocument 500 /500